@{
    ViewBag.Title = "Contact";
    ViewBag.Browser = Request.Browser;
}
<h2>@ViewBag.Title.</h2>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<h3>@ViewBag.Message</h3>
<form method="post">
    <textarea name="messageInTextArea"></textarea>
    <input type="submit" value="Send" />
</form>

<h1>You are using @Request.Browser.Browser</h1>

@{
    var integers = new List<int>() { 1, 2, -4, 2, -5, 9, 10, -3 };

    <div>@formatAmount(2)</div>

    <ul>
        @foreach (var item in integers)
        {
            <li>@formatAmount(item)</li>
        }
    </ul>

    <div>
        @foreach (var item in integers)
        {
            var some = 20 + item;
            @formatAmount(some);
        }
    </div>
}

@helper formatAmount(int amount)
{
    var color = "green";
    if (amount < 0)
    {
        color = "red";
    }
    <span style="color:@color">@string.Format("{0:c}", amount)</span>
}